<!DOCTYPE html>
<html>
	<head>
		
		{% load static %}

		<meta charset="UTF-8"/>
		<title>Inicio</title>

		<link rel="icon" href="{% static "imagenes/logo.png"%}"/>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
		
		<script>
            const logout = () => {
				Swal.fire({
                    title: 'Cerrar Sesion',
                    text: "¿Está Seguro De Querer Cerrar La Sesión?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'Cancelar'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/logout";
                    }
                    })
            }
        </script>

	</head>
<body>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<div class="container">		
		<nav class="navbar navbar-expand-lg" style="background-color: rgb(138, 138, 138);">
		  	<div class="container-fluid">

				<a href="/usuario">
					<img src="{% static "imagenes/logo.png"%}" width="100px" style="margin-right:10px;" alt="A"/>
				</a>
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link text-center text-white" href="/usuario">Inicio</a>
						<a class="nav-link text-center text-white" href="/sregistrar">Agregar Hotel</a>
						<a class="nav-link text-center text-white" href="/listado">Listado de Hoteles</a>
						<a class="nav-link text-center text-white" href="#" onClick="logout()">Cerrar Sesión</a>					
					</div>
				</div>
		  	</div>
		</nav>

		
		<div align="center" style="background-color:#a0b976; padding-top:10px; padding-bottom:10px;">
			<h2 class="navbar-brand text-white" style="font-size: 20px;">Bienvenido Usuario</h2><a class="navbar-brand text-white" style="font-size: 25px;">
				{{ nomusu }}
			</a>
			<br/>
			<img src="{% static "imagenes/Fondocliente.jpg" %}" width="80%" alt="A"/>
		</div>
		  
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	
</body>
</html>