<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Admin-Mode</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
		
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

        
        <script> var a = localStorage.getItem('isDarkMode'); var back = ''; var text = ''; if(a=='true'){window.back = "#2d2d2d";window.text = "#ffffff"; }else{window.back = "#fff"; window.text = "#545454";}</script>
		<script >
            const logout = () => {
				Swal.fire({
                    title: 'Cerrar Sesion',
                    text: "¿Está Seguro De Querer Cerrar La Sesión?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    toast: true,
                    background: back,
                    color: text,
                    cancelButtonText: 'Cancelar'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/logout";
                    }
                    })
            }
        </script>


        <script>
        let count = 3599;
        const timer = setInterval(function() {
        //console.log(count);
        var counth = count /3600;
        var hour = Math.trunc(counth);
        var countm = count /60;
        var minute = Math.trunc(countm);
        var counts = Math.floor( count%(60) );
        var second = Math.trunc(counts);
        //document.getElementById("countdown").innerHTML =days + ":" + hours + ":" + minutes + ":" + seconds;
        count--;
        if (count === 0) {
            clearInterval(timer);
            Swal.fire({
                title: 'Sesion Caducada',
                'icon':'error',
                toast: true,
                background: back,
                color: text,
                }).then((result) => {
                if (result.isConfirmed) {
                window.location.href = "/";
            }
            })
        }
        }, 1000);
        </script>
	</head>
<body>
    {% load static %}
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div  class="vh-100 d-flex justify-content-center ">
    <div class="container-fluid" id="backgroundall">		
        <nav class="navbar " id="navbarcenter">
            <div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" >
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
					<div class="navbar-nav" align="center">
                        <div class="offcanvas-header">
                            <img src="{% static 'img/insignia_CIMA3.png' %}" alt="Imagen de ejemplo" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;display: block;margin-left: auto;margin-right: auto;" >
                            <button type="button" class="btn-close position-fixed" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <a class="btn btn-outline-secondary nav-link text-center" href="/showUsuregister">Gestion de Usuarios</a>
                            <a class="btn btn-outline-secondary nav-link text-center" href="/showRolregister">Gestion de Roles</a>
                            <a class="btn btn-outline-secondary active nav-link text-center" href="/showRolPermisoregister">Gestion de Permisos</a>
                            <a class="btn btn-outline-secondary nav-link text-center" href="/showRolUsuarioregister">Gestion de Roles Usuario</a>
                            <a class="btn btn-outline-danger nav-link text-center" onClick="logout()">Cerrar Sesión</a>	
                            <a class="nav-link" style="margin: 0 auto;float: none;" ><div class="form-check form-switch" style="margin: 0 auto;float: none;">
                            <input
                            class="form-check-input p-2"
                            type="checkbox"
                            role="switch"
                            id="2"
                            onclick="myFunction()"
                            />
                        </div></a>		
					</div>
                    <div class="" style="height: 100%;">
                        <h5 id="TheEmail" class="position-absolute bottom-0 start-50 translate-middle-x">{{correo}}</h5>
                        <button id="showEmail2" style="display: none;" type="button" onClick="ChangeShowEmail()" class="btn btn-lg position-absolute bottom-0 end-0">
                            <i class="bi bi-eye-slash"></i>
                        </button>
                        <button id="showEmail" style="display: block;" type="button" onClick="ChangeShowEmail()" class="btn btn-lg position-absolute bottom-0 end-0">
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
				</div>
                <h2 class="d-flex justify-content-end align-items-center" style="margin: 0 auto;float: none;">Gestion de Permisos Rol</h2>
            </div>
		</nav>
		<div class="d-flex justify-content-end align-items-center">
			<div class="container-fluid">
                <div align="center">
                    <div style="margin: 0 auto;float: none;">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AsociarRolPermiso">Asociar Permisos al Rol</button>
                            <div class="modal fade" id="AsociarRolPermiso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Asociando Permisos...</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/rolPermisoRegister" method="post">
                                        {% csrf_token %} 
                                        <div class="col-md-12">
                                            <label for="rol" class="col-form-label">Seleccione el rol</label>
                                            <select id="rol" name="rol" style="padding: 10px; width: 100%;">
                                                {% for x in g %}
                                                <option value="{{x.name}}">{{x.name}}</option>
                                                {% endfor %}
                                              </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="rol" class="col-form-label">Permisos</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-text">
                                                  <button id="selectAllBtn" class="btn btn-outline-secondary" type="button" aria-label="Checkbox for following text input">Seleccionar Todo</button>
                                                <select id="permisos" name="permisos[]" multiple="multiple" style="padding: 10px;">
                                                    {% for category, permissions in pu.items %}
                                                    <optgroup label="{{ category }}">
                                                        {% for permission in permissions %}
                                                            <option value="{{ permission.codename }}">{{ permission.name }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                    {% endfor %}
                                                  </select>
                                                </div>
                                              </div>
                                            
                                        </div>
                                        <div class="col-md-12">
                                            <label for="txtraz" class="form-label">Tipo de Accion</label>    
                                            <div class="d-grid gap-2 form-check d-block">
                                                <div class="gap-2">
                                                <input class="btn-check" type="radio" id="op1" name="opt" value="Add" checked>
                                                <label class="btn btn-outline-secondary btn-lg" for="op1" style="width: 49%;" >Agregar</label>
                                                <input class="btn-check" type="radio" id="op2" name="opt" value="Delete">
                                                <label class="btn btn-outline-secondary btn-lg" for="op2" style="width: 49%;" >Quitar</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Aceptar</button>
                                    </div>
                                </form>
                                    </div>
                                </div>
                            </div>               
                        {% if gu %}
                        <div class="table-responsive" style="max-height: calc(100vh - 100px); padding-top: 48px;">
                            <div class="input-group" >
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-filter-right"></i></span>
                                <input class="form-control" id="myInput" type="text" placeholder="Busqueda..">
                              </div>
                            <table class="table table-hover sortable table-bordered" style="margin: 0 auto;float: none;"  id="sortTable" >
                                <thead id="head_table">
                                <tr>
                                    <th style="text-align: center;">ROL</th>
                                    <th style="text-align: center;">PERMISOS</th>
                                </tr>
                            </thead>
                                {% for x in gu %}
                            <tbody id="myTable">    
                                <tr class="align-middle">
                                    <td style="text-align: center;">{{x.group.name}}</td>
                                    {% if x.permissions %}
                                    <td style="text-align: center;">
                                    {% for y in x.permissions %}
                                    {% if "Can add movimiento" in y.name %}<li style="list-style-type:none;">Puede Agregar Stock</li>    
                                    {% elif "Can view movimiento" in y.name %}<li style="list-style-type:none;">Puede Ver movimiento Stock</li>    
                                    {% elif "Can delete movimiento" in y.name %}<li style="list-style-type:none;">Puede Reducir Stock</li>    
                                     {% elif "Can add" in y.name %}<li style="list-style-type:none;">Puede Agregar{{y.name|cut:"Can add"}}</li>    
                                     {% elif "Can change" in y.name %}<li style="list-style-type:none;"> Puede Cambiar{{y.name|cut:"Can change"}}</li>    
                                     {% elif "Can view" in y.name %}<li style="list-style-type:none;">Puede Ver{{y.name|cut:"Can view"}} </li>    
                                     {% elif "Can delete" in y.name %}<li style="list-style-type:none;">Puede Borrar {{y.name|cut:"Can delete"}}</li>    
                                     {% else %} <li style="list-style-type:none;">{{y.name}}</li> 
                                     {% endif %} 
                                     {% endfor %}</td>
                                    
                                    {% else %}
                                    <td style="text-align: center;">No hay Permisos Asociados</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>    
                            </table>
                        </div>
                            {% else %}  
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <h5>No Hay Registros</h5>
                            </div>
    
                        {% endif %}  
    
                    </div>
                    
                </div>     
                
            </div>
        </div>
    </div> 
            
</div>

<style>
    /* Cambiar el color del texto que se escribe en el campo de búsqueda */
    .select2-search__field {
        color: #000000; /* Cambia esto al color que desees */
    }
</style>

<script>
    $('#AsociarRolPermiso').on('shown.bs.modal', function () {
        if (!$('#permisos').data('select2')) {
            $('#permisos').select2({
                templateResult: function(data) {
                var $result = $('<span></span>');
                console.log(data.text)
                if (data.text != "Can view producto" && data.text != "Can change movimiento" && data.text != "Can add historial_acciones" && data.text != "Can change historial_acciones" && data.text != "Can delete historial_acciones"){
                    if (data.text.includes("Can add movimiento")){data.text = 'Puede agregar stock'}
                    if (data.text.includes("Can delete movimiento")){data.text = 'Puede reducir stock'}
                    if (data.text.includes("Can view movimiento")){data.text = 'Puede ver movimiento stock'}
                    if (data.text.includes("Can add")){data.text = data.text.replace('Can add', 'Puede agregar ')}
                    if (data.text.includes("Can change")){data.text = data.text.replace('Can change', 'Puede cambiar ')}
                    if (data.text.includes("Can delete")){data.text = data.text.replace('Can delete', 'Puede borrar ')}
                    if (data.text.includes("Can view")){data.text = data.text.replace('Can view', 'Puede ver ')}
                    $result.text(data.text.replace(/_/g, ' '));
                    $result.css('color', '#000000'); 
                    return $result;
                }
            },
            placeholder: "Selecciona tus permisos",
            allowClear: true,
            dropdownParent: $('#AsociarRolPermiso'),

        });
        $('#selectAllBtn').on('click', function() {
                var allValues = $('#permisos option').map(function() {
                    $('.select2-selection').css('color', '#000000');
                    if (this.value != 'view_producto' && this.value != "change_movimiento" && this.value != "add_historial_acciones" && this.value != "change_historial_acciones" && this.value != "delete_historial_acciones"){
                        return this.value;}
                }).get();
                $('#permisos').val(allValues).trigger('change'); // Establecer todos los valores y disparar el cambio
            });
    }
    });

    $('#AsociarRolPermiso').on('select2:open', function() {
    $('.select2-results').css('color', '#000000'); 
    $('.select2-selection').css('color', '#000000'); 
    });

     $('#AsociarRolPermiso').on('select2:select', function(e) {
         $('.select2-selection').css('color', '#000000'); 
     });

    $('#AsociarRolPermiso').on('hidden.bs.modal', function () {
        $('.select2-selection').css('color', '#000000'); 
    });
</script>

<script>
    $('#AsociarRolPermiso').on('shown.bs.modal', function () {
        if (!$('#permisos').data('select2')) {
            $('#rol').select2({
            placeholder: 'Selecciona un rol', 
            allowClear: true  
        });
        }
    });
</script>




{% if r2 %}
<script>
    Swal.fire({
    'title':'Error',
    'text':"{{r2}}",
    toast: true,
    background: back,
    color: text,
    'icon':'error'
})
</script>
{% endif %}


{% if r %}
<script>
    Swal.fire({
    position: 'top',
    icon: 'success',
    title: '{{r}}',
    toast: true,
    background: back,
    color: text,
    showConfirmButton: false,
    timer: 3000
})</script>
{% endif %}
<script>
    var a = document.getElementById("showEmail");
    var b = document.getElementById("showEmail2");
    var e = document.getElementById("TheEmail");
    var t = localStorage.getItem('ShowEmail');
        if (t==="true"){
            e.innerHTML = '{{correo}}';
            a.style.display = "block";
            b.style.display = "none";
            //console.log('b')
        }
        if(t==="false"){
            e.innerHTML = '***';
            a.style.display = "none";
            b.style.display = "block";
        }
        //console.log("c")
    </script>

<script>
    function ChangeShowEmail() {
        var element = document.body;
        var a = document.getElementById("showEmail");
        var b = document.getElementById("showEmail2");
        var e = document.getElementById("TheEmail");
        console.log(a)
        if (a.style.display == "block"){
            localStorage.setItem('ShowEmail', false);
            e.innerHTML = '***';
            a.style.display = "none";
            b.style.display = "block";
        }
        else{
            localStorage.setItem('ShowEmail', true);
            e.innerHTML = '{{correo}}';
            a.style.display = "block";
            b.style.display = "none";
        }
    }
</script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
<script>
    function test() {
    Swal.fire({
    position: 'top',
    icon: 'success',
    toast: true,
    title: 'test',
    showConfirmButton: false,
    timer: 3000
})}</script>
<script>
    var element = document.body;
    var a = localStorage.getItem('isDarkMode');
    var back = '';
    var text = '';
    if(a=='true'){window.back = "#2d2d2d";window.text = "#ffffff"; }else{window.back = "#fff"; window.text = "#545454";}  
    //console.log(a)
        if (a==="true"){
            element.dataset.bsTheme = "dark"
            document.getElementById("2").checked = true;
            document.getElementById('head_table').setAttribute("class", "table-light");
            document.getElementById("offcanvasNavbar").style.backgroundColor= '#791500';
            document.getElementById("offcanvasNavbar").style.color= '#FFFFFF';
            document.getElementById("backgroundall").style.backgroundColor= '#404040';
            document.getElementById("backgroundall").style.color= '#FFFFFF';
            document.getElementById("navbarcenter").style.backgroundColor= '#791500';
            document.getElementById("navbarcenter").style.color= '#FFFFFF';
            //console.log('b')
        }
        if(a==="false"){
            element.dataset.bsTheme = "light";
            document.getElementById('head_table').setAttribute("class", "table-dark");
            document.getElementById("offcanvasNavbar").style.backgroundColor = '#c19284';
            document.getElementById("offcanvasNavbar").style.color= '#000000';
            document.getElementById("backgroundall").style.backgroundColor = '#c19284';
            document.getElementById("backgroundall").style.color= '#000000';
            document.getElementById("navbarcenter").style.backgroundColor = '#8a8a8a';
            document.getElementById("navbarcenter").style.color= '#000000';
        }
        //console.log("c")
    </script>
<script>
    function myFunction() {
        var element = document.body;
        var darkcheck = document.getElementById("2");
        //console.log(darkcheck)
        if (darkcheck.checked){
            element.dataset.bsTheme = "dark"
            localStorage.setItem('isDarkMode', true);
            document.getElementById('head_table').setAttribute("class", "table-light");
            document.getElementById("offcanvasNavbar").style.backgroundColor= '#791500';
            document.getElementById("offcanvasNavbar").style.color= '#FFFFFF';
            document.getElementById("backgroundall").style.backgroundColor= '#404040';
            document.getElementById("backgroundall").style.color= '#FFFFFF';
            document.getElementById("navbarcenter").style.backgroundColor= '#791500';
            document.getElementById("navbarcenter").style.color= '#FFFFFF';
            back = "#2d2d2d"; text = "#ffffff";
        }
        else{
            element.dataset.bsTheme = "light"
            localStorage.setItem('isDarkMode', false);
            document.getElementById('head_table').setAttribute("class", "table-dark");
            document.getElementById("offcanvasNavbar").style.backgroundColor = '#c19284';
            document.getElementById("offcanvasNavbar").style.color= '#000000';
            document.getElementById("backgroundall").style.backgroundColor = '#c19284';
            document.getElementById("backgroundall").style.color= '#000000';
            document.getElementById("navbarcenter").style.backgroundColor = '#8a8a8a';
            document.getElementById("navbarcenter").style.color= '#000000';
            back = "#fff"; text = "#545454";
        }
    }
    </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	
</body>
</html>