<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8"/>
		<title>Admin-Mode</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
		<script >
            const logout = () => {
				Swal.fire({
                    title: 'Cerrar Sesion',
                    text: "¿Está Seguro De Querer Cerrar La Sesión?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    toast: true,
                    cancelButtonText: 'Cancelar'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/logout";
                    }
                    })
            }
        </script>

        <script>
        let count = 3599;
        const timer = setInterval(function() {
        //console.log(count);
        var counth = count /3600;
        var hour = Math.trunc(counth);
        var countm = count /60;
        var minute = Math.trunc(countm);
        var counts = Math.floor( count%(60) );
        var second = Math.trunc(counts);
        //document.getElementById("countdown").innerHTML =days + ":" + hours + ":" + minutes + ":" + seconds;
        document.getElementById("countdown").innerHTML = hour + ":" + minute + ":" + second;
        count--;
        if (count === 0) {
            clearInterval(timer);
            Swal.fire({
                title: 'Sesion Caducada',
                'icon':'error',
                toast: true
                }).then((result) => {
                if (result.isConfirmed) {
                window.location.href = "/";
            }
            })
        }
        }, 1000);
        </script>
        {% csrf_token %}  
        <script>
        const update = (nombre) => {
            var id = nombre.id;
            console.log(nombre.id);
            var a = nombre.nombre;
            console.log(nombre.nombre);
            var b = nombre.descripcion;
            console.log(nombre.descripcion);
            var c = nombre.tipo;
            console.log(nombre.tipo);
            var d = nombre.cantidad;
            console.log(nombre.cantidad);
            var e = nombre.precio;
            console.log(nombre.precio);
            Swal.fire({
            title: "Modificando a " + a,
            toast: true,
            html: `
                <div class="row">
                    <label class="form-label">Nombre del Producto</label>
                    <div>        
                    <input id="txtnombre" class="swal2-input" required type="text" value=${a}>
                    </div>
                </div>

                <div class="row">
                    <label class=" form-label">Descripcion del Producto</label>
                    <div>     
                    <input id="txtdescipcion" class="swal2-input" required type="text" value="${b}">
                    </div>
                </div>

                <div class="row">
                    <label class=" form-label">Tipo de Producto</label>
                    <div>     
                    <input id="txttipo" class="swal2-input" required type="text" value=${c}>
                    </div>
                </div>
                <div class="row">
                    <label class="form-label">Cantidad de Producto</label>
                    <div">     
                    <input id="cantidad" class="swal2-input" required type="number" value=${d}>
                    </div>
                </div>
                <div class="row">
                    <label class="form-label">Precio del Producto (Unitario)</label>
                    <div>     
                    <input id="precio" class="swal2-input" required type="number" value=${e}>
                    </div>
                </div>  
                
                

            `,
            focusConfirm: false,
            showCancelButton: true,
            preConfirm: () => {
            var nom = document.getElementById("txtnombre").value;
            var des = document.getElementById("txtdescipcion").value;
            var tip = document.getElementById("txttipo").value;
            var can = document.getElementById("cantidad").value;
            var pre = document.getElementById("precio").value;  

            if (nom && des && tip && can && pre) {
                //console.log(nom+des+tip+can+pre+a)
                fetch('http://127.0.0.1:8000/UpdateP',{method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                  },
                  body: JSON.stringify({
                    id_: id,
                    nom_: nom,
                    des_: des,
                    tip_: tip,
                    can_: can,
                    pre_: pre,
                  })
                })
                .then(response => response.json())
                .then(data => console.log(data));
                Swal.fire({
                    position: 'top',
                    icon: 'success',
                    title: 'Cambio Realizado Correctamente',
                    toast: true,
                    }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/adminn";
                    }
                    })
                //let dato = {};
                //dato.id = id;
                //dato.nom = nom;
                //dato.des = des;
                //dato.tip = tip;
                //dato.can = can;
                //dato.pre = pre;
                //const  dat = btoa(JSON.stringify(dato)); 
                //const text = {"id": id, "nom":nom,"des":des , "tip":tip, "can":can , "pre":pre}
                //const dato = JSON.parse(text);
                //console.log(dat)
                //window.location.href = "/UpdateP/"+dato
                //window.location.href = "/UpdateP/"+id+"/"+nom+"/"+des+"/"+tip+"/"+can+"/"+pre
            }else{
                Swal.fire({
                'title':'Error',
                'text':"Error No Se Puede Dejar Vacio Ninguna Casilla",
                'icon':'error',
                toast: true
            })
        }
    }
})
        }
        </script>
        <script>
            const deletes = (id) => {
                Swal.fire({
                    title: '¿Está Seguro(a) De Querer Eliminar El Registro?',
                    text: "Esta accion no se puede revertir",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, borralo',
                    cancelButtonText: 'Cancelar',
                    toast: true
                    }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/DeleteP/"+id;
                    }
                    })
            }
        </script>

	</head>
<body>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div  class="vh-100 d-flex justify-content-center ">
	<div class="container-fluid">		
		<nav class="navbar navbar-expand-lg" style="background-color: rgb(138, 138, 138);">
            <div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav" align="center">
						<a class="nav-link text-center text-white" href="/adminn">Listado de Productos</a>
						<a class="nav-link text-center text-white" href="/ShowRegistrarP">Agregar Producto</a>
                        <a class="nav-link text-center text-white" href="/ShowListU">Listado de Usuarios</a>
						<a class="nav-link text-center text-white" href="/ShowRegistrarU">Agregar Usuario</a>
                        <a class="nav-link text-center text-white" href="/ShowListA">Listado de Alumnos</a>
                        <a class="nav-link text-center text-white" href="/ShowRegistrarA">Agregar Alumnos</a>
						<button class="nav-link text-center text-white" onClick="logout()">Cerrar Sesión</button>	
                        <a class="nav-link text-center text-white"><div class="form-check form-switch mx-4">
                            <input
                            class="form-check-input p-2"
                            type="checkbox"
                            role="switch"
                            id="2"
                            onclick="myFunction()"
                            />
                        </div></a>				
					</div>
				</div>
                <h5 class="d-flex justify-content-end align-items-center" style="margin: 0 auto;float: none;">Tiempo de la sesion <span id="countdown" class="badge text-bg-secondary">--:--:--</span></h5>
		  	</div>
		</nav>
		<div class="justify-content-center " style="background-color:#a0b976; padding-top:10px; padding-bottom:10px;">
			<div class="container-fluid">
                <div>
                    <div style="margin: 0 auto;float: none;">
                        {% if r2 %}
                        <script>
                            Swal.fire({
                            'title':'Error',
                            'text':"{{r2}}",
                            toast: true,
                            'icon':'error'
                        })</script>
                        {% endif %}
                        
                        
                        
                        {% if r %}
                        <script>
                            Swal.fire({
                            position: 'top',
                            icon: 'success',
                            title: '{{r}}',
                            toast: true,
                            showConfirmButton: false,
                            timer: 1500,
                        })</script>
                        {% endif %}                
                        {% if p %}
                        <div class="accordion-item" style="margin: 2px;">
                            <h2 class="accordion-header">
                              <button class="btn btn-info" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="padding: 2px;">
                                Busqueda
                            </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                              <div class="accordion-body">
                                <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width: auto;">
                              </div>
                            </div>
                          </div>
                        <div class="table-responsive">
                            <table class="table table-hover" style="margin: 0 auto;float: none;">
                                <thead>
                                <tr style="background-color: lightgrey;">
                                    <th style="text-align: center;">NOMBRE</th>
                                    <th style="text-align: center;">DESCRIPCION</th>
                                    <th style="text-align: center;">TIPO DE PRODUCTO</th>
                                    <th style="text-align: center;">CANTIDAD</th>
                                    <th style="text-align: center;">PRECIO</th>
                                    <th style="text-align: center;">TOTAL</th>
                                    <th style="text-align: center;">EDITAR</th>
                                    <th style="text-align: center;">ELIMINAR</th>
                                </tr>
                                </thead>
                                {% for x in p %}
                                <tbody id="myTable">
                                <tr class="align-middle">
                                    <td style="text-align: center;">{{x.nombre}}</td>
                                    <td style="text-align: center;">{{x.descripcion}}</td>
                                    <td style="text-align: center;">{{x.tipo}}</td>
                                    <td style="text-align: center;">{{x.cantidad}}</td>
                                    <td style="text-align: center;">{{x.precio}}</td>
                                    <td style="text-align: center;">${% widthratio x.precio 1 x.cantidad %}</td>
                                    <td style="text-align: center;">
                                        <button type="button" onClick="update({{x}})" class="btn btn-lg">
                                            <i class="bi bi-pencil-fill" ></i>
                                        </button>
                                    </td>
                                    <td style="text-align: center;">
                                        <button type="button" onClick="deletes({{x.id}})" class="btn btn-lg">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>    
                            </table>
                        </div>
                            {% else %}  
    
    
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <h5>No Hay Registros</h5>
                            </div>
    
                        {% endif %}  
    
                    </div>
                    
                </div>     
                
            </div>
        </div>
		  
	</div>
</div>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

<script>
    function test() {
    Swal.fire({
    position: 'top',
    icon: 'success',
    title: 'test',
    showConfirmButton: false,
    timer: 1500
})}</script>
<script>
    var element = document.body;
    var a = localStorage.getItem('isDarkMode');
    console.log(a)
        if (a==="true"){
            element.dataset.bsTheme = "dark"
            document.getElementById("2").checked = true;
            console.log('b')
        }
        if(a==="false"){
            element.dataset.bsTheme = "light";
        }
        console.log("c")
    </script>
<script>
    function myFunction() {
        var element = document.body;
        var darkcheck = document.getElementById("2");
        console.log(darkcheck)
        if (darkcheck.checked){
            element.dataset.bsTheme = "dark"
            localStorage.setItem('isDarkMode', true);
        }
        else{
            element.dataset.bsTheme = "light"
            localStorage.setItem('isDarkMode', false);
        }
        
        //element.dataset.bsTheme = 
        //element.dataset.bsTheme == "light" ? "dark" : "light";
    }
    </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	
</body>
</html>