<!DOCTYPE html>
<html>
	<head>
        {% load static %}
		<meta charset="UTF-8"/>
		<title>Historial de acciones</title>
        <link rel="icon" href="{% static 'img/insignia_CIMA3.png' %}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<script> var a = localStorage.getItem('isDarkMode'); var back = ''; var text = ''; if(a=='true'){window.back = "#2d2d2d";window.text = "#ffffff"; }else{window.back = "#fff"; window.text = "#545454";}</script>
		
		<script >
            const logout = () => {
				Swal.fire({
                    title: 'Cerrar Sesion',
                    text: "¿Está Seguro De Querer Cerrar La Sesión?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    toast: true,
                    background: back,
                    color: text,
                    cancelButtonText: 'Cancelar'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/logout";
                    }
                    })
            }
        </script>

        {% csrf_token %} 
        <script>
        const UserConfi = () => {
            Swal.fire({
                title: "Información de la cuenta",
                toast: true,
                background: back,
                color: text,
                showCancelButton: true,
                confirmButtonText: 'Modificar datos',
                cancelButtonText: 'Cancelar',
                html: `
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="floatingInput" value='{{request.user.username}}' disabled>
                        <label for="floatingInput">Usuario</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-3" id="floatingInput" value='{{request.user.email}}' disabled>
                        <label for="floatingInput">Correo</label>
                    </div>
                </div>
                `,
            }).then((result) => {
                if (result.isConfirmed) {
                    // Modificar Usuario y Correo
                    Swal.fire({
                        title: "Modificando la cuenta...",
                        toast: true,
                        background: back,
                        color: text,
                        showCancelButton: true,
                        showDenyButton: true,
                        confirmButtonText: 'Modificar información',
                        cancelButtonText: 'Volver',
                        denyButtonText: 'Cambiar Contraseña', 
                        html: `
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3" id="UserName" value='{{request.user.username}}' required>
                                <label for="UserName">Usuario</label>
                                <div id="userError" class="error-message text-danger" style="display: none;"></div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control rounded-3" id="Correo" value='{{request.user.email}}' required>
                                <label for="Correo">Correo</label>
                                <div id="correoError" class="error-message text-danger" style="display: none;"></div>
                            </div>
                        </div>
                        `,
                        preConfirm: () => {
                            let isValid = true;

                            // Limpiar errores previos
                            document.querySelectorAll('.error-message').forEach(el => el.style.display = 'none');

                            // Validación de los campos de Usuario y Correo
                            const use = document.getElementById("UserName").value;
                            const cor = document.getElementById("Correo").value;

                            // Validación del Usuario
                            const userError = document.getElementById("userError");
                            if (!use) {
                                isValid = false;
                                userError.textContent = 'El usuario no puede estar vacío.';
                                userError.style.display = 'block';
                            }

                            // Validación del Correo
                            const correoError = document.getElementById("correoError");
                            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
                            if (!cor.match(emailPattern)) {
                                isValid = false;
                                correoError.textContent = 'Por favor, ingrese un correo válido.';
                                correoError.style.display = 'block';
                            }

                            if (!isValid) {
                                return false; // Evita que el formulario se envíe si hay errores
                            }

                            var id = '{{request.user.id}}';
                            fetch('http://127.0.0.1:8000/changeusu', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                body: JSON.stringify({
                                    id_: id,
                                    use_: use,
                                    cor_: cor
                                })
                            })
                            .then(response => response.json())
                            .then(data => {
                                Swal.fire({
                                    position: 'top',
                                    icon: 'success',
                                    title: data.message,
                                    toast: true,
                                    background: back,
                                    color: text,
                                }).then(() => {
                                    window.location.href = "";
                                });
                            })
                            .catch(error => {
                                Swal.fire({
                                    position: 'top',
                                    icon: 'error',
                                    title: 'Hubo un problema con la solicitud: ' + error.message,
                                    toast: true,
                                    background: back,
                                    color: text,
                                    showCancelButton: false,
                                    confirmButtonText: 'Cerrar'
                                }).then(() => {
                                    UserConfi(); // Permite intentar de nuevo
                                });
                            });
                        },
                    didOpen: () => {
                    // Agregar manejadores de evento `input` para cada campo
                    document.getElementById('UserName').addEventListener('input', () => {
                        const UserName = document.getElementById('userError');
                        if (UserName.style.display === 'block') {
                        UserName.style.display = 'none'; // Ocultar error cuando el usuario escribe
                        }
                    });

                    document.getElementById('Correo').addEventListener('input', () => {
                        const correoError = document.getElementById('correoError');
                        if (correoError.style.display === 'block') {
                        correoError.style.display = 'none'; // Ocultar error cuando el usuario escribe
                        }
                    });
                    }
                    }).then((result2) => {
                        if (result2.isDismissed) {
                            UserConfi(); // Si se descarta el cambio de datos, volver a la función original
                        } else if (result2.isDenied) {
                            // Cambiar Contraseña
                            Swal.fire({
                                title: "Modificando la Contraseña...",
                                toast: true,
                                background: back,
                                color: text,
                                showCancelButton: true,
                                confirmButtonText: 'Modificar contraseña',
                                cancelButtonText: 'Volver',
                                html: `
                                <div class="text-danger">Debes iniciar sesión nuevamente </div>
                                <div class="modal-body">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control rounded-3" id="Npassword" placeholder="" required>
                                        <label for="Npassword">Contraseña actual</label>
                                        <div id="npasError" class="error-message text-danger" style="display: none;"></div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control rounded-3" id="password" placeholder="" required>
                                        <label for="password">Nueva contraseña</label>
                                        <div id="pasError" class="error-message text-danger" style="display: none;"></div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control rounded-3" id="password2" placeholder="" required>
                                        <label for="password2">Repetir Contraseña Nueva</label>
                                        <div id="pas2Error" class="error-message text-danger" style="display: none;"></div>
                                    </div>
                                </div>
                                `,
                                preConfirm: () => {
                                    var npas = document.getElementById("Npassword").value;
                                    var pas = document.getElementById("password").value;
                                    var pas2 = document.getElementById("password2").value;

                                    // Limpiar errores previos
                                    document.querySelectorAll('.error-message').forEach(el => el.style.display = 'none');

                                    let isValid = true;

                                    const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;

                                    // Validación Contraseña Actual
                                    const npasError = document.getElementById('npasError');
                                    if (!npas.trim()) {
                                        isValid = false;
                                        npasError.textContent = 'La contraseña actual es obligatoria.';
                                        npasError.style.display = 'block';
                                    }

                                    // Validación Nueva Contraseña
                                    const pasError = document.getElementById('pasError');
                                    if (!pas.trim()) {
                                        isValid = false;
                                        pasError.textContent = 'La nueva contraseña es obligatoria.';
                                        pasError.style.display = 'block';
                                    } else if (!passwordPattern.test(pas)) {
                                        isValid = false;
                                        pasError.textContent = 'La nueva contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula y un número.';
                                        pasError.style.display = 'block';
                                    }

                                    // Validación Repetir Nueva Contraseña
                                    const pas2Error = document.getElementById('pas2Error');
                                    if (pas !== pas2) {
                                        isValid = false;
                                        pas2Error.textContent = 'Las contraseñas no coinciden.';
                                        pas2Error.style.display = 'block';
                                    } else if (!pas2.trim()) {
                                        isValid = false;
                                        pas2Error.textContent = 'Repetir la nueva contraseña es obligatorio.';
                                        pas2Error.style.display = 'block';
                                    }

                                    if (!isValid) {
                                        return false; // Evita el envío si hay errores
                                    }

                                    var id = '{{request.user.id}}';
                                    fetch('http://127.0.0.1:8000/passchangeusu', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'X-CSRFToken': '{{ csrf_token }}'
                                        },
                                        body: JSON.stringify({
                                            id_: id,
                                            npas_: npas,
                                            pas_: pas,
                                            pas2_: pas2,
                                        })
                                    })
                                    .then(response => {
                                    // Verificamos si la respuesta fue exitosa (status 200-299)
                                    if (!response.ok) {
                                        return response.json().then(error => {
                                        Swal.fire({
                                        position: 'top',
                                        icon: 'error',
                                        title: error.error,
                                        toast: true,
                                        background: back,
                                        color: text,
                                        confirmButtonText: 'Volver'
                                    }).then((result3) => {
                                        if (result3.isConfirmed) {
                                        window.location.href = "";
                                        }
                                    });
                                        });
                                    }
                                    return response.json(); // Parseamos la respuesta como JSON
                                    })
                                    .then(data => {
                                        Swal.fire({
                                            position: 'top',
                                            icon: 'success',
                                            title: data.message,
                                            toast: true,
                                            background: back,
                                            color: text,
                                        }).then(() => {
                                            window.location.href = "/";
                                        });
                                    })
                                    .catch(error3 => {
                                        Swal.fire({
                                            position: 'top',
                                            icon: 'error',
                                            title: error3.response.data,
                                            toast: true,
                                            background: back,
                                            color: text,
                                            showCancelButton: false,
                                            confirmButtonText: 'Volver'
                                        }).then(() => {
                                            UserConfi(); // Permite intentar de nuevo
                                        });
                                    });
                                },
                                didOpen: () => {
                                // Agregar manejadores de evento `input` para cada campo
                                document.getElementById('Npassword').addEventListener('input', () => {
                                    const npasError = document.getElementById('npasError');
                                    if (npasError.style.display === 'block') {
                                    npasError.style.display = 'none'; // Ocultar error cuando el usuario escribe
                                    }
                                });

                                document.getElementById('password').addEventListener('input', () => {
                                    const pasError = document.getElementById('pasError');
                                    if (pasError.style.display === 'block') {
                                    pasError.style.display = 'none'; // Ocultar error cuando el usuario escribe
                                    }
                                });

                                document.getElementById('password2').addEventListener('input', () => {
                                    const pas2Error = document.getElementById('pas2Error');
                                    if (pas2Error.style.display === 'block') {
                                    pas2Error.style.display = 'none'; // Ocultar error cuando el usuario escribe
                                    }
                                });
                                }
                            }).then((result2) => {
                        if (result2.isDismissed) {
                            UserConfi(); // Si se descarta el cambio de datos, volver a la función original
                        }
                    })
                        }
                    });
                }
            });
        }
        </script>

        <script>
        let count = 3599;
        const timer = setInterval(function() {
        //console.log(count);
        var counth = count /3600;
        var hour = Math.trunc(counth);
        var countm = count /60;
        var minute = Math.trunc(countm);
        var counts = Math.floor( count%(60) );
        var second = Math.trunc(counts);
        //document.getElementById("countdown").innerHTML =days + ":" + hours + ":" + minutes + ":" + seconds;
        count--;
        if (count === 0) {
            clearInterval(timer);
            Swal.fire({
                title: 'Sesion Caducada',
                'icon':'error',
                toast: true,
                background: back,
                color: text,
                }).then((result) => {
                if (result.isConfirmed) {
                window.location.href = "/";
            }
            })
        }
        }, 1000);
        </script>
	</head>
<body>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div  class="vh-100 d-flex justify-content-center ">
    <div class="container-fluid" id="backgroundall">		
        <nav class="navbar " id="navbarcenter">
            <div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
					<div class="navbar-nav" align="center">
                        <div class="offcanvas-header">
                            <img src="{% static 'img/insignia_CIMA3.png' %}" alt="Imagen de ejemplo" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;display: block;margin-left: auto;margin-right: auto;" >
                            <button type="button" class="btn-close position-fixed" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                          </div>
                          <a class="btn btn-outline-secondary nav-link text-center" href="/adminn">
                            <i class="bi bi-house-door-fill" style="font-size: 24px;"></i> Menu Principal
                          </a>
                          
                          {% for g in grup %}
                            {% for perm in g.permissions %}
                              {% if perm.codename == 'view_categoria' %}
                                <a class="btn btn-outline-secondary nav-link text-center" href="/ShowGestionC">
                                  <i class="bi bi-folder-fill" style="font-size: 24px;"></i> Gestionar Categoria
                                </a>
                              {% endif %}
                              {% if perm.codename == 'view_alumno' %}
                                <a class="btn btn-outline-secondary nav-link text-center" href="/ShowGestionA">
                                  <i class="bi bi-person-fill" style="font-size: 24px;"></i> Gestionar Alumnos
                                </a>
                              {% endif %}
                              {% if perm.codename == 'view_proveedor' %}
                                <a class="btn btn-outline-secondary nav-link text-center" href="/ShowGestionProveedor">
                                  <i class="bi bi-people-fill" style="font-size: 24px;"></i> Gestionar Proveedores
                                </a>
                              {% endif %}
                              {% if "view_producto" in perm.codename %}
                                <a class="btn btn-outline-secondary nav-link text-center product-link" href="/ShowGestionP">
                                  <i class="bi bi-box-fill" style="font-size: 24px;"></i> Gestionar Productos
                                </a>
                              {% endif %}
                              {% if perm.codename == 'view_movimiento' %}
                                <a class="btn btn-outline-secondary nav-link text-center" href="/ShowGestionS">
                                  <i class="bi bi-arrow-down-up" style="font-size: 24px;"></i> Gestionar Stock
                                </a>
                              {% endif %}
                              {% if perm.codename == 'view_historial_acciones' %}
                                <a class="btn btn-outline-secondary active nav-link text-center" href="/ShowHis">
                                  <i class="bi bi-clock-fill" style="font-size: 24px;"></i> Ver Historial de Acciones
                                </a>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                          <a class="btn btn-outline-danger nav-link text-center" onClick="logout()">
                            <i class="fas fa-sign-out-alt" style="font-size: 24px;"></i> Cerrar Sesión
                          </a>
      

                          <a class="nav-link" style="margin: 0 auto; float: none;">
                            <div class="form-check form-switch" style="margin: 0 auto; float: none; position: relative; width: 60px; height: 30px;">
                                <!-- Ocultamos el input checkbox para que solo se vea el switch -->
                                <input class="form-check-input p-2 position-absolute start-0" type="checkbox" role="switch" id="2" onclick="myFunction()" style="opacity: 0; z-index: -1;" />
                                
                                <label class="form-check-label position-absolute start-0" for="2" style="width: 80%; height: 80%; cursor: pointer; padding: 0; display: flex; justify-content: center; align-items: center;">
                                    <!-- Contenedor del Switch -->
                                    <div class="switch-container" style="position: relative; width: 80%; height: 80%; border-radius: 50px; background-color: #000; transition: background-color 0.3s ease;">
                                        <!-- Icono de Luna -->
                                        <i class="fas fa-moon" id="moonIcon" style="color: #3b3eff;position: absolute; right: 2px; top: 50%; transform: translateY(-50%); font-size: 18px; opacity: 1; transition: opacity 0.3s ease;"></i>
                                        <!-- Icono de Sol -->
                                        <i class="fas fa-sun" id="sunIcon" style="color: #ffee00; position: absolute; left: 2px; top: 50%; transform: translateY(-50%); font-size: 18px; opacity: 0; transition: opacity 0.3s ease;"></i>
                                        <!-- Circulito del switch -->
                                        <div class="switch-circle" style="position: absolute; top: 50%; left: 2px; transform: translateY(-30%); width: 15px; height: 15px; border-radius: 50%; background-color: #646464; transition: transform 0.3s ease;"></div>
                                    </div>
                                </label>
                            </div>
                        </a>

					</div>
                    <div class="" style="height: 100%;" >
                        <button type="button" onClick="UserConfi()" class="btn btn-lg btn-outline-secondary position-absolute bottom-0 start-0" style="border: none; outline: 0; text-decoration: none; background-color:transparent;--bs-btn-hover-color: var(--bs-secondary-text-emphasis); display: inline-flex;" data-bs-dismiss="offcanvas">
                          <i class="bi bi-gear-fill fs-5"></i>
                        </button> 
                        <h5 id="TheEmail" class="position-absolute bottom-0 start-50 translate-middle-x">{{correo}}</h5>
                        <button id="showEmail2" style="border: none; outline: 0; text-decoration: none; background-color:transparent;--bs-btn-hover-color: var(--bs-secondary-text-emphasis); display: inline-flex;" type="button" onClick="ChangeShowEmail()" class="btn btn-lg btn-outline-secondary position-absolute bottom-0 end-0">
                            <i class="bi bi-eye-slash"></i>
                        </button>
                        <button id="showEmail" style="border: none; outline: 0; text-decoration: none; background-color:transparent;--bs-btn-hover-color: var(--bs-secondary-text-emphasis); display: inline-flex;" type="button" onClick="ChangeShowEmail()" class="btn btn-lg btn-outline-secondary position-absolute bottom-0 end-0">
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
				</div>
                <h1 class="d-flex justify-content-end align-items-center" style="margin: 0 auto;float: none;">Historial</h1>
            </div>
		</nav>
		<div class="d-flex justify-content-end align-items-center">
			<div class="container-fluid">
                <div align="center">
                    <div style="margin: 0 auto;float: none;">
                        {% if r2 %}
                        <script>
                            Swal.fire({
                            'title':'Error',
                            'text':"{{r2}}",
                            toast: true,
                            background: back,
                            color: text,
                            'icon':'error'
                        })</script>
                        {% endif %}
                        
                        
                        {% if r %}
                        <script>
                            Swal.fire({
                            position: 'top',
                            icon: 'success',
                            title: '{{r}}',
                            toast: true,
                            background: back,
                            color: text,
                            showConfirmButton: false,
                            timer: 1500
                        })</script>
                        {% endif %}                
                        {% if h %}
                        
                            
                        <div class="table-responsive" style="max-height: calc(100vh - 100px); padding-top: 48px;">
                            <div class="btn-group-horizontal" role="group" aria-label="Vertical radio toggle button group">
                                <input type="checkbox" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" onclick="showHis()">
                                <label id="btndasactivo" class="btn btn-outline-danger" for="vbtn-radio1">Ver Inicios y Cierres de sesión</label>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-filter-right"></i></span>
                                <input class="form-control" id="myInput" type="text" placeholder="Busqueda..">
                            </div>
                        
                            <!-- Tabla -->
                            <table id="tableall" class="table table-hover sortable table-bordered" style="margin: 0 auto; float: none;">
                                <thead id="head_table">
                                    <tr>
                                        <th style="text-align: center;">USUARIO</th>
                                        <th style="text-align: center;">DESCRIPCION</th>
                                        <th style="text-align: center;">FECHA</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {% for x in h %}
                                        {% if x.descripcion != 'Cierra Sesión' and x.descripcion != 'Inicia Sesión' %}
                                        <tr class="align-middle">
                                            <td style="text-align: center;">{{x.usuario}}</td>
                                            <td style="text-align: center;">{{x.descripcion}}</td>
                                            <td style="text-align: center;">{{x.fecha}}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                           
                        
                            <!-- Paginación -->
                            <nav aria-label="Page navigation example" id="bbbb">
                                <ul class="pagination justify-content-center" id="pagination-container">
                                    <!-- Los botones de la paginación se agregarán aquí dinámicamente -->
                                </ul>
                            </nav>
                        
                            <!-- Tabla -->
                            <table id="tabsesion" class="table table-hover sortable table-bordered" style="margin: 0 auto; float: none; display: none;">
                                <thead id="head_table2">
                                    <tr>
                                        <th style="text-align: center;">USUARIO</th>
                                        <th style="text-align: center;">DESCRIPCION</th>
                                        <th style="text-align: center;">FECHA</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable2">
                                    {% for x in h %}
                                    <tr class="align-middle">
                                        <td style="text-align: center;">{{x.usuario}}</td>
                                        <td style="text-align: center;">{{x.descripcion}}</td>
                                        <td style="text-align: center;">{{x.fecha}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                           
                        
                            <!-- Paginación -->
                            <nav aria-label="Page navigation example" id="aaaa" style="display: none;">
                                <ul class="pagination justify-content-center" id="pagination-container2">
                                    <!-- Los botones de la paginación se agregarán aquí dinámicamente -->
                                </ul>
                            </nav>
    
                            
                            {% else %}  
    
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <h5>No Hay Registros</h5>
                            </div>
    
                                
                        {% endif %}  
                                       
                    </div>     
                </div>     
                
            </div>
        </div>
		  
	</div>
</div>
<script>
    let currentPage = 1;
    let rowsPerPage; // Número de filas por página, ajustado dinámicamente
    let rows;
    let totalPages;

    // Función que ajusta el número de filas a mostrar según el tamaño de la pantalla
    function adjustRowsPerPage() {
        const windowWidth = window.innerWidth;

        // Ajustar filas por página en función del ancho de la pantalla
        if (windowWidth >= 1200) {  // Pantallas grandes (desktop)
            rowsPerPage = 10;
        } else if (windowWidth >= 768) {  // Pantallas medianas (tabletas)
            rowsPerPage = 7;
        } else {  // Pantallas pequeñas (móviles)
            rowsPerPage = 5;
        }

        // Recalcular el número total de páginas
        totalPages = Math.ceil(rows.length / rowsPerPage);
        
        // Muestra la página actual después de ajustar el número de filas
        displayTablePage(currentPage);
    }

    // Mostrar solo las filas correspondientes a la página actual
    function displayTablePage(page) {
        const startIndex = (page - 1) * rowsPerPage;
        const endIndex = startIndex + rowsPerPage;

        rows.forEach((row, index) => {
            if (index >= startIndex && index < endIndex) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });

        currentPage = page;
        updatePagination();
    }

    // Actualizar los botones de paginación (dinámicamente)
    function updatePagination() {
        const paginationContainer = document.getElementById("pagination-container");
        paginationContainer.innerHTML = ""; // Limpiar los botones de paginación actuales

        // Botón de "Anterior"
        const prevButton = document.createElement("li");
        prevButton.classList.add("page-item");
        prevButton.classList.toggle("disabled", currentPage === 1);
        prevButton.innerHTML = `<a class="page-link" href="#" aria-label="Previous" onclick="changePage('prev')"><span aria-hidden="true">&laquo;</span></a>`;
        paginationContainer.appendChild(prevButton);

        // Generar los botones de páginas
        for (let i = 1; i <= totalPages; i++) {
            const pageButton = document.createElement("li");
            pageButton.classList.add("page-item");
            pageButton.classList.toggle("active", i === currentPage);
            pageButton.innerHTML = `<a class="page-link" href="#" onclick="changePage(${i})">${i}</a>`;
            paginationContainer.appendChild(pageButton);
        }

        // Botón de "Siguiente"
        const nextButton = document.createElement("li");
        nextButton.classList.add("page-item");
        nextButton.classList.toggle("disabled", currentPage === totalPages);
        nextButton.innerHTML = `<a class="page-link" href="#" aria-label="Next" onclick="changePage('next')"><span aria-hidden="true">&raquo;</span></a>`;
        paginationContainer.appendChild(nextButton);
    }

    // Cambiar de página
    function changePage(page) {
        if (page === "prev" && currentPage > 1) {
            displayTablePage(currentPage - 1);
        } else if (page === "next" && currentPage < totalPages) {
            displayTablePage(currentPage + 1);
        } else if (typeof page === "number") {
            displayTablePage(page);
        }
    }

    // Inicializar la tabla mostrando la primera página y los botones de paginación
    document.addEventListener("DOMContentLoaded", function () {
        rows = document.querySelectorAll("#myTable tr"); // Obtén todas las filas de la tabla
        adjustRowsPerPage();  // Ajusta el número de filas y muestra la primera página
    });

    // Recalcular filas cuando el tamaño de la ventana cambia
    window.addEventListener("resize", function() {
        adjustRowsPerPage(); // Ajustar filas en función del nuevo tamaño de la ventana
    });
</script>


<script>
    try{
    let currentPage2 = 1;
    let rowsPerPage2; // Número de filas por página
    let rows2;
    let totalPages2;
    
    // Función que ajusta el número de filas a mostrar según el tamaño de la pantalla
    function adjustRowsPerPage2() {
        const windowWidth = window.innerWidth;

        // Ajustar filas por página en función del ancho de la pantalla
        if (windowWidth >= 1200) {  // Pantallas grandes (desktop)
            rowsPerPage2 = 10;
        } else if (windowWidth >= 768) {  // Pantallas medianas (tabletas)
            rowsPerPage2 = 7;
        } else {  // Pantallas pequeñas (móviles)
            rowsPerPage2 = 5;
        }
        
        // Recalcular el número total de páginas
        try{totalPages2 = Math.ceil(rows2.length / rowsPerPage2);}catch{}
        
        
        
        // Muestra la página actual después de ajustar el número de filas
        displayTablePage2(currentPage2);
    }

    // Mostrar solo las filas correspondientes a la página actual
    function displayTablePage2(page2) {
        const startIndex2 = (page2 - 1) * rowsPerPage2;
        const endIndex2 = startIndex2 + rowsPerPage2;

        try{
        rows2.forEach((row2, index2) => {
            if (index2 >= startIndex2 && index2 < endIndex2) {
                row2.style.display = "";
            } else {
                row2.style.display = "none";
            }
        });
        
        currentPage2 = page2;
        updatePagination2();
    }catch{}
    }

    // Actualizar los botones de paginación (dinámicamente)
    function updatePagination2() {
        const paginationContainer2 = document.getElementById("pagination-container2");
        paginationContainer2.innerHTML = ""; // Limpiar los botones de paginación actuales

        // Botón de "Anterior"
        const prevButton2 = document.createElement("li");
        prevButton2.classList.add("page-item");
        prevButton2.classList.toggle("disabled", currentPage2 === 1);
        prevButton2.innerHTML = `<a class="page-link" href="#" aria-label="Previous" onclick="changePage2('prev')"><span aria-hidden="true">&laquo;</span></a>`;
        paginationContainer2.appendChild(prevButton2);

        // Generar los botones de páginas
        for (let i = 1; i <= totalPages2; i++) {
            const pageButton2 = document.createElement("li");
            pageButton2.classList.add("page-item");
            pageButton2.classList.toggle("active", i === currentPage2);
            pageButton2.innerHTML = `<a class="page-link" href="#" onclick="changePage2(${i})">${i}</a>`;
            paginationContainer2.appendChild(pageButton2);
        }

        // Botón de "Siguiente"
        const nextButton2 = document.createElement("li");
        nextButton2.classList.add("page-item");
        nextButton2.classList.toggle("disabled", currentPage2 === totalPages2);
        nextButton2.innerHTML = `<a class="page-link" href="#" aria-label="Next" onclick="changePage2('next')"><span aria-hidden="true">&raquo;</span></a>`;
        paginationContainer2.appendChild(nextButton2);
    }

    // Cambiar de página
    function changePage2(page2) {
        if (page2 === "prev" && currentPage2 > 1) {
            displayTablePage2(currentPage2 - 1);
        } else if (page2 === "next" && currentPage2 < totalPages2) {
            displayTablePage2(currentPage2 + 1);
        } else if (typeof page2 === "number") {
            displayTablePage2(page2);
        }
    }

    // Inicializar la tabla mostrando la primera página y los botones de paginación
    document.addEventListener("DOMContentLoaded", function () {
        rows2 = document.querySelectorAll("#myTable2 tr"); // Obtén todas las filas de la tabla
        adjustRowsPerPage2();  // Ajusta el número de filas y muestra la primera página
    });

    // Recalcular filas cuando el tamaño de la ventana cambia
    window.addEventListener("resize", function() {
        adjustRowsPerPage2(); // Ajustar filas en función del nuevo tamaño de la ventana
    });
}catch{}
</script>


<script>
    function showHis() {
        var session = document.getElementById("vbtn-radio1");
        var tableall = document.getElementById("tableall");
        var tabsesion = document.getElementById("tabsesion");
        var aaaa = document.getElementById("aaaa");
        var bbbb = document.getElementById("bbbb");
        //console.log(darkcheck)
        if (session.checked){
            tabsesion.style.display = "";
            tableall.style.display = "none";
            aaaa.style.display = "";
            bbbb.style.display = "none";
        }
        else{
            tabsesion.style.display = "none";
            tableall.style.display = "";
            aaaa.style.display = "none";
            bbbb.style.display = "";
        }
    }
    </script>




<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Variable para controlar si el enlace "Gestionar Productos" ya ha sido mostrado
        let productLinkDisplayed = false;

        // Seleccionar todos los enlaces "Gestionar Productos"
        const productLinks = document.querySelectorAll('.product-link');

        productLinks.forEach(link => {
            // Si ya se ha mostrado, ocultamos este enlace
            if (productLinkDisplayed) {
                link.style.display = 'none';
            } else {
                // Marcamos que el enlace ha sido mostrado
                productLinkDisplayed = true;
            }
        });
    });
</script>
<script>
    var a = document.getElementById("showEmail");
    var b = document.getElementById("showEmail2");
    var e = document.getElementById("TheEmail");
    var t = localStorage.getItem('ShowEmail');
    if(t==="false"){
        e.innerHTML = '***';
        a.style.display = "none";
        b.style.display = "block";
    }else{
        e.innerHTML = '{{correo}}';
        a.style.display = "block";
        b.style.display = "none";
    }
    </script>

<script>
    function ChangeShowEmail() {
        var element = document.body;
        var a = document.getElementById("showEmail");
        var b = document.getElementById("showEmail2");
        var e = document.getElementById("TheEmail");

        if (a.style.display == "block"){
            localStorage.setItem('ShowEmail', false);
            e.innerHTML = '***';
            a.style.display = "none";
            b.style.display = "block";
        }
        else{
            localStorage.setItem('ShowEmail', true);
            e.innerHTML = '{{correo}}';
            a.style.display = "block";
            b.style.display = "none";
        }
    }
</script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
<script>
    function test() {
    Swal.fire({
    position: 'top',
    icon: 'success',
    toast: true,
    title: 'test',
    showConfirmButton: false,
    timer: 1500
})}</script>
<script>
    var element = document.body;
    var a = localStorage.getItem('isDarkMode');
    var switchContainer = document.querySelector(".switch-container");
    var moonIcon = document.getElementById("moonIcon");
    var sunIcon = document.getElementById("sunIcon");
    var switchCircle = document.querySelector(".switch-circle");
    var back = '';
    var text = '';
    if(a=='true'){window.back = "#2d2d2d";window.text = "#ffffff"; }else{window.back = "#fff"; window.text = "#545454";}  
    //console.log(a)
        if (a==="true"){
            element.dataset.bsTheme = "dark"
            document.getElementById("2").checked = true;
            switchContainer.style.backgroundColor = "#ccc"; // Fondo gris (luna)
            switchCircle.style.transform = "translate(2px, -50%)"; // Mover el círculo a la izquierda
            switchCircle.style.backgroundColor = "#000"; // Mover el círculo a la izquierda
            moonIcon.style.opacity = "1"; // Mostrar luna
            sunIcon.style.opacity = "0"; // Ocultar sol
            try {
            document.getElementById('head_table').setAttribute("class", "table-light");
            document.getElementById('head_table2').setAttribute("class", "table-light");
            } catch (error) {
            }
            document.getElementById('btndasactivo').setAttribute("class", "btn btn-outline-danger");
            document.getElementById("offcanvasNavbar").style.backgroundColor= '#791500';
            document.getElementById("offcanvasNavbar").style.color= '#FFFFFF';
            document.getElementById("backgroundall").style.backgroundColor= '#404040';
            document.getElementById("backgroundall").style.color= '#FFFFFF';
            document.getElementById("navbarcenter").style.backgroundColor= '#791500';
            document.getElementById("navbarcenter").style.color= '#FFFFFF';
            //console.log('b')
        }
        else{
            element.dataset.bsTheme = "light";
            switchContainer.style.backgroundColor = "#505050"; // Cambiar el fondo a amarillo (sol)
            switchCircle.style.transform = "translate(20px, -50%)"; // Mover el círculo a la derecha
            switchCircle.style.backgroundColor = "#fff"; // Mover el círculo a la izquierda
            moonIcon.style.opacity = "0"; // Ocultar luna
            sunIcon.style.opacity = "1"; // Mostrar sol
            try {
            document.getElementById('head_table').setAttribute("class", "table-dark");
            document.getElementById('head_table2').setAttribute("class", "table-dark");
            } catch (error) {
            }
            document.getElementById('btndasactivo').setAttribute("class", "btn btn-outline-dark");
            document.getElementById("offcanvasNavbar").style.backgroundColor = '#c19284';
            document.getElementById("offcanvasNavbar").style.color= '#000000';
            document.getElementById("backgroundall").style.backgroundColor = '#c19284';
            document.getElementById("backgroundall").style.color= '#000000';
            document.getElementById("navbarcenter").style.backgroundColor = '#8a8a8a';
            document.getElementById("navbarcenter").style.color= '#000000';
        }
        //console.log("c")
    </script>
<script>
    function myFunction() {
        var element = document.body;
        var darkcheck = document.getElementById("2");
    var switchContainer = document.querySelector(".switch-container");
    var moonIcon = document.getElementById("moonIcon");
    var sunIcon = document.getElementById("sunIcon");
    var switchCircle = document.querySelector(".switch-circle");
        //console.log(darkcheck)
        if (darkcheck.checked){
            element.dataset.bsTheme = "dark"
            localStorage.setItem('isDarkMode', true);
            switchContainer.style.backgroundColor = "#ccc"; // Fondo gris (luna)
            switchCircle.style.transform = "translate(2px, -50%)"; // Mover el círculo a la izquierda
            switchCircle.style.backgroundColor = "#000"; // Mover el círculo a la izquierda
            moonIcon.style.opacity = "1"; // Mostrar luna
            sunIcon.style.opacity = "0"; // Ocultar sol
            try {
            document.getElementById('head_table').setAttribute("class", "table-light");
            document.getElementById('head_table2').setAttribute("class", "table-light");
            } catch (error) {
            }
            document.getElementById('btndasactivo').setAttribute("class", "btn btn-outline-danger");
            document.getElementById("offcanvasNavbar").style.backgroundColor= '#791500';
            document.getElementById("offcanvasNavbar").style.color= '#FFFFFF';
            document.getElementById("backgroundall").style.backgroundColor= '#404040';
            document.getElementById("backgroundall").style.color= '#FFFFFF';
            document.getElementById("navbarcenter").style.backgroundColor= '#791500';
            document.getElementById("navbarcenter").style.color= '#FFFFFF';
            back = "#2d2d2d"; text = "#ffffff";
        }
        else{
            element.dataset.bsTheme = "light"
            localStorage.setItem('isDarkMode', false);
            switchContainer.style.backgroundColor = "#505050"; // Cambiar el fondo a amarillo (sol)
            switchCircle.style.transform = "translate(20px, -50%)"; // Mover el círculo a la derecha
            switchCircle.style.backgroundColor = "#fff"; // Mover el círculo a la izquierda
            moonIcon.style.opacity = "0"; // Ocultar luna
            sunIcon.style.opacity = "1"; // Mostrar sol
            try {
            document.getElementById('head_table').setAttribute("class", "table-dark");
            document.getElementById('head_table2').setAttribute("class", "table-dark");
            } catch (error) {
            }
            document.getElementById('btndasactivo').setAttribute("class", "btn btn-outline-dark");
            document.getElementById("offcanvasNavbar").style.backgroundColor = '#c19284';
            document.getElementById("offcanvasNavbar").style.color= '#000000';
            document.getElementById("backgroundall").style.backgroundColor = '#c19284';
            document.getElementById("backgroundall").style.color= '#000000';
            document.getElementById("navbarcenter").style.backgroundColor = '#8a8a8a';
            document.getElementById("navbarcenter").style.color= '#000000';
            back = "#fff"; text = "#545454";
        }
    }
    </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	
</body>
</html>