<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Admin-Mode</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
		
		<script >
            const logout = () => {
				Swal.fire({
                    title: 'Cerrar Sesion',
                    text: "¿Está Seguro De Querer Cerrar La Sesión?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    toast: true,
                    background: back,
                    color: text,
                    cancelButtonText: 'Cancelar'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/logout";
                    }
                    })
            }
        </script>
        <script>
        let count = 3599;
        const timer = setInterval(function() {
        //console.log(count);
        var counth = count /3600;
        var hour = Math.trunc(counth);
        var countm = count /60;
        var minute = Math.trunc(countm);
        var counts = Math.floor( count%(60) );
        var second = Math.trunc(counts);
        //document.getElementById("countdown").innerHTML =days + ":" + hours + ":" + minutes + ":" + seconds;
        document.getElementById("countdown").innerHTML = hour + ":" + minute + ":" + second;
        count--;
        if (count === 0) {
            clearInterval(timer);
            Swal.fire({
                title: 'Sesion Caducada',
                'icon':'error',
                toast: true,
                background: back,
                color: text,
                }).then((result) => {
                if (result.isConfirmed) {
                window.location.href = "/";
            }
            })
        }
        }, 1000);
        </script>
	</head>
<body>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div  class="vh-100 d-flex justify-content-center ">
	<div class="container-fluid">		
		<nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
					<div class="navbar-nav" align="center">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LOGO</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                          </div>
						<a class="btn btn-outline-info nav-link text-center" href="/adminn">Listado de Productos</a>
						<a class="btn btn-outline-success nav-link text-center" href="/ShowRegistrarP">Agregar Producto</a>
                        <a class="btn btn-outline-info nav-link text-center" href="/ShowListU">Listado de Usuarios</a>
						<a class="btn btn-outline-success nav-link text-center" href="/ShowRegistrarU">Agregar Usuario</a>
                        <a class="btn btn-outline-info nav-link text-center" href="/ShowListA">Listado de Alumnos</a>
                        <a class="btn btn-outline-success nav-link text-center" href="/ShowRegistrarA">Agregar Alumnos</a>
                        <a class="btn btn-outline-warning active nav-link text-center" href="/ShowHis">Ver Historial</a>
						<a class="btn btn-outline-danger nav-link text-center" onClick="logout()">Cerrar Sesión</a>	
                        <a class="nav-link" style="margin: 0 auto;float: none;" ><div class="form-check form-switch" style="margin: 0 auto;float: none;">
                            <input
                            class="form-check-input p-2"
                            type="checkbox"
                            role="switch"
                            id="2"
                            onclick="myFunction()"
                            />
                        </div></a>		
					</div>
                    <div class="" style="height: 100%;">
                        <h5 id="TheEmail" class="position-absolute bottom-0 start-50 translate-middle-x">{{correo}}</h5>
                        <button id="showEmail2" style="display: none;" type="button" onClick="ChangeShowEmail()" class="btn btn-lg position-absolute bottom-0 end-0">
                            <i class="bi bi-eye-slash"></i>
                        </button>
                        <button id="showEmail" style="display: block;" type="button" onClick="ChangeShowEmail()" class="btn btn-lg position-absolute bottom-0 end-0">
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
				</div>
                <h5 class="d-flex justify-content-end align-items-center" style="margin: 0 auto;float: none;">Historial</h5>
                <h5 class="justify-content-end" style="position: fixed;top: 0.8em;right: 1em;">Tiempo de la sesion <span id="countdown" class="badge text-bg-secondary">--:--:--</span></h5>
		  	</div>
		</nav>
		<div class="d-flex justify-content-end align-items-center">
			<div class="container-fluid">
                <div align="center">
                    <div style="margin: 0 auto;float: none;">
                        {% if r2 %}
                        <script>
                            Swal.fire({
                            'title':'Error',
                            'text':"{{r2}}",
                            toast: true,
                            background: back,
                            color: text,
                            'icon':'error'
                        })</script>
                        {% endif %}
                        
                        
                        {% if r %}
                        <script>
                            Swal.fire({
                            position: 'top',
                            icon: 'success',
                            title: '{{r}}',
                            toast: true,
                            background: back,
                            color: text,
                            showConfirmButton: false,
                            timer: 1500
                        })</script>
                        {% endif %}                
                        {% if h %}
                        <script>
                            function showHis() {
                                var session = document.getElementById("vbtn-radio1");
                                var tableall = document.getElementById("tableall");
                                var tabsesion = document.getElementById("tabsesion");
                                //console.log(darkcheck)
                                if (session.checked){
                                    tabsesion.style.display = "";
                                    tableall.style.display = "none";
                                }
                                else{
                                    tabsesion.style.display = "none";
                                    tableall.style.display = "";
                                }
                            }
                            </script>
                        <div class="table-responsive" style="max-height: calc(100vh - 100px); padding-top: 48px;">
                            <div class="btn-group-horizontal" role="group" aria-label="Vertical radio toggle button group">
                                <input type="checkbox" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" onclick="showHis()">
                                <label class="btn btn-outline-danger" for="vbtn-radio1">Ver Incios y Cierres de sesion</label>
                              </div>
                            <div class="input-group" >
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-filter-right"></i></span>
                                <input class="form-control" id="myInput" type="text" placeholder="Busqueda..">
                              </div>
                            <table id="tableall" class="table table-hover sortable table-bordered" style="margin: 0 auto;float: none;"  id="sortTable" >
                                <thead id="head_table">
                                    <tr>
                                        <th style="text-align: center;">USUARIO</th>
                                        <th style="text-align: center;">DESCRIPCION</th>
                                        <th style="text-align: center;">RAZON</th>
                                        <th style="text-align: center;">FECHA</th>
                                    </tr>
                                </thead>
                                {% for x in h %}
                                {%if x.descripcion != 'Cierra Sesión' and x.descripcion != 'Inicia Sesión'%}
                                <tbody id="myTable">
                                <tr class="align-middle">
                                    <td style="text-align: center;">{{x.usuario}}</td>
                                    <td style="text-align: center;">{{x.descripcion}}</td>
                                {% if x.razon == '' %}
                                    <td style="text-align: center;">Ninguna</td>
                                {% else %}
                                    <td style="text-align: center;">{{x.razon}}</td>
                                {% endif %}    
                                    <td style="text-align: center;">{{x.hour}}</td>
                                </tr>
                                {% endif %} 
                                {% endfor %}
                                </tbody>    
                            </table>
                            <table id="tabsesion" class="table table-hover sortable table-bordered" style="margin: 0 auto;float: none;display: none;"  id="sortTable">
                                <thead id="head_table2">
                                    <tr>
                                        <th style="text-align: center;">USUARIO</th>
                                        <th style="text-align: center;">DESCRIPCION</th>
                                        <th style="text-align: center;">RAZON</th>
                                        <th style="text-align: center;">FECHA</th>
                                    </tr>
                                </thead>
                                {% for x in h %}
                                <tbody id="myTable">
                                <tr class="align-middle">
                                    <td style="text-align: center;">{{x.usuario}}</td>
                                    <td style="text-align: center;">{{x.descripcion}}</td>
                                {% if x.razon == '' %}
                                    <td style="text-align: center;">Ninguna</td>
                                {% else %}
                                    <td style="text-align: center;">{{x.razon}}</td>
                                {% endif %}    
                                    <td style="text-align: center;">{{x.hour}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>    
                            </table>
                        </div>
                            {% else %}  
    
    
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <h5>No Hay Registros</h5>
                            </div>
    
                        {% endif %}  
    
                    </div>
                    
                </div>     
                
            </div>
        </div>
		  
	</div>
</div>
<script>
    var a = document.getElementById("showEmail");
    var b = document.getElementById("showEmail2");
    var e = document.getElementById("TheEmail");
    var t = localStorage.getItem('ShowEmail');
    console.log(t)
        if (t==="true"){
            e.innerHTML = '{{correo}}';
            a.style.display = "block";
            b.style.display = "none";
            //console.log('b')
        }
        if(t==="false"){
            e.innerHTML = '***';
            a.style.display = "none";
            b.style.display = "block";
        }
        //console.log("c")
    </script>

<script>
    function ChangeShowEmail() {
        var element = document.body;
        var a = document.getElementById("showEmail");
        var b = document.getElementById("showEmail2");
        var e = document.getElementById("TheEmail");
        console.log(a)
        if (a.style.display == "block"){
            localStorage.setItem('ShowEmail', false);
            e.innerHTML = '***';
            a.style.display = "none";
            b.style.display = "block";
        }
        else{
            localStorage.setItem('ShowEmail', true);
            e.innerHTML = '{{correo}}';
            a.style.display = "block";
            b.style.display = "none";
        }
    }
</script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
<script>
    function test() {
    Swal.fire({
    position: 'top',
    icon: 'success',
    toast: true,
    title: 'test',
    showConfirmButton: false,
    timer: 1500
})}</script>
<script>
    var element = document.body;
    var a = localStorage.getItem('isDarkMode');
    var back = '';
    var text = '';
    if(a=='true'){window.back = "#2d2d2d";window.text = "#ffffff"; }else{window.back = "#fff"; window.text = "#545454";}  
    //console.log(a)
        if (a==="true"){
            element.dataset.bsTheme = "dark"
            document.getElementById("2").checked = true;
            document.getElementById('head_table').setAttribute("class", "table-light");
            document.getElementById('head_table2').setAttribute("class", "table-light");
            //console.log('b')
        }
        if(a==="false"){
            element.dataset.bsTheme = "light";
            document.getElementById('head_table').setAttribute("class", "table-dark");
            document.getElementById('head_table2').setAttribute("class", "table-dark");
        }
        //console.log("c")
    </script>
<script>
    function myFunction() {
        var element = document.body;
        var darkcheck = document.getElementById("2");
        //console.log(darkcheck)
        if (darkcheck.checked){
            element.dataset.bsTheme = "dark"
            localStorage.setItem('isDarkMode', true);
            document.getElementById('head_table').setAttribute("class", "table-light");
            document.getElementById('head_table2').setAttribute("class", "table-light");
            back = "#2d2d2d"; text = "#ffffff";
        }
        else{
            element.dataset.bsTheme = "light"
            localStorage.setItem('isDarkMode', false);
            document.getElementById('head_table').setAttribute("class", "table-dark");
            document.getElementById('head_table2').setAttribute("class", "table-dark");
            back = "#fff"; text = "#545454";
        }
    }
    </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	
</body>
</html>