<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Login</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
	</head>
	<body>
	<div class="vh-100">	
		<div class="form-check form-switch mx-4">
			<input
			  class="form-check-input p-2"
			  type="checkbox"
			  role="switch"
			  id="2"
			  onclick="myFunction()"
			  />
		</div>	
		<div class="vh-100 d-flex justify-content-center align-items-center" style="max-height: calc(100vh - 100px);">
			<div class="container text-center" >
				<div class="card align-self-center" style="max-width: 40rem;margin: 0 auto;float: none;">
					<div  id="head_login"><H1>Restablece tu contraseña</H1></div>
					<div class="card-body">
						<form method="post">
							{% csrf_token %}
							<input style="padding: 10px;" class="form-control form-control-lg text-center mb-2" type="password" placeholder="Digite Contraseña" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Debe contener al menos un numero, una mayuscula y una minuscula, y debe ser de 8 o mas caracteres"  required/>
							<input style="padding: 10px;" class="form-control form-control-lg text-center mb-2" type="password" placeholder="Digite Contraseña Nuevamente" name="password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Debe contener al menos un numero, una mayuscula y una minuscula, y debe ser de 8 o mas caracteres"  required/>
							<button type="submit" class="btn btn-info btn-lg" style="width:100%">Restablecer Contraseña</button>
						</form>
				  </div>
			</div>
		  </div>


		</div>   
		  <script>
			var element = document.body;
			var a = localStorage.getItem('isDarkMode');
			var back = '';
			var text = '';
			if(a=='true'){window.back = "#2d2d2d";window.text = "#ffffff"; }else{window.back = "#fff"; window.text = "#545454";}  
				if (a==="true"){
					element.dataset.bsTheme = "dark"
					document.getElementById("2").checked = true;
					document.getElementById('head_login').setAttribute("class", "card text-bg-light");
				}
				if(a==="false"){
					element.dataset.bsTheme = "light";
					document.getElementById('head_login').setAttribute("class", "card text-bg-dark");
				}
			</script>
		<script>
			function myFunction() {
				var element = document.body;
				var darkcheck = document.getElementById("2");
				if (darkcheck.checked){
					element.dataset.bsTheme = "dark"
					localStorage.setItem('isDarkMode', true);
					document.getElementById('head_login').setAttribute("class", "card text-bg-light");
					back = "#2d2d2d"; text = "#ffffff";
				}
				else{
					element.dataset.bsTheme = "light"
					localStorage.setItem('isDarkMode', false);
					document.getElementById('head_login').setAttribute("class", "card text-bg-dark");
					back = "#fff"; text = "#545454";
				}
			}
			</script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
			{% if r2 %}
            <script>
                Swal.fire({
                'title':'Error',
                'text':"{{r2}}",
				toast: true,
				background: back,
                color: text,
                'icon':'error'
            })</script>
            {% endif %}
            
            
            {% if r %}
            <script>
                Swal.fire({
                position: 'top',
                icon: 'success',
                title: '{{r}}',
				position: 'top',
                showConfirmButton: false,
				toast: true,
				background: back,
                color: text,
                timer: 3000
            })</script>
            {% endif %}

		</div>		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	</body>
</html>

