<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Recovery</title>
		<link rel="icon" href="{% static 'img/insignia_CIMA3.png' %}" type="image/x-icon">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<script> var a = localStorage.getItem('isDarkMode'); var back = ''; var text = ''; if(a=='true'){window.back = "#2d2d2d";window.text = "#ffffff"; }else{window.back = "#fff"; window.text = "#545454";}</script>
		
	</head>
	<body>
	<div class="vh-100" id="backgroundall">	
		<div class="form-check form-switch position-relative" style="float: none; width: 60px; height: 30px;">
			<!-- Ocultamos el input checkbox para que solo se vea el switch -->
			<input class="form-check-input p-2 position-absolute start-0" type="checkbox" role="switch" id="2" onclick="myFunction()" style="opacity: 0; z-index: -1;" />
			
			<label class="form-check-label position-absolute start-0" for="2" style="width: 80%; height: 80%; cursor: pointer; padding: 0; display: flex; justify-content: center; align-items: center;">
				<!-- Contenedor del Switch -->
				<div class="switch-container" style="position: relative; width: 80%; height: 80%; border-radius: 50px; background-color: #000; transition: background-color 0.3s ease;">
					<!-- Icono de Luna -->
					<i class="fas fa-moon" id="moonIcon" style="color: #3b3eff;position: absolute; right: 2px; top: 50%; transform: translateY(-50%); font-size: 18px; opacity: 1; transition: opacity 0.3s ease;"></i>
					<!-- Icono de Sol -->
					<i class="fas fa-sun" id="sunIcon" style="color: #ffee00; position: absolute; left: 2px; top: 50%; transform: translateY(-50%); font-size: 18px; opacity: 0; transition: opacity 0.3s ease;"></i>
					<!-- Circulito del switch -->
					<div class="switch-circle" style="position: absolute; top: 50%; left: 2px; transform: translateY(-30%); width: 15px; height: 15px; border-radius: 50%; background-color: #646464; transition: transform 0.3s ease;"></div>
				</div>
			</label>
		</div>		
		<div class="vh-100 d-flex justify-content-center align-items-center" style="max-height: calc(100vh - 100px);">
			<div class="container text-center" >
				<div class="card align-self-center" style="max-width: 30rem;margin: 0 auto;float: none;">
					<div  id="head_login"><H1 style="color: white;">Restablece tu contraseña</H1></div>
					<div class="card-body" id="cardbodys">
						<form method="post">
							{% csrf_token %}
							<div class="form-floating mb-3">
								<input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Digite Contraseña" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Debe contener al menos un numero, una mayuscula y una minuscula, y debe ser de 8 o mas caracteres"  required>
								<label for="floatingPassword">Nueva Contraseña</label>
							</div>
							<div class="form-floating mb-3">
								<input type="password" class="form-control rounded-3" id="floatingPassword2" placeholder="Digite Contraseña" name="password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Debe contener al menos un numero, una mayuscula y una minuscula, y debe ser de 8 o mas caracteres"  required>
								<label for="floatingPassword2">Repetir Nueva Contraseña</label>
							</div>
							<button type="submit" class="btn btn-info btn-lg" style="width:100%">Restablecer Contraseña</button>
						</form>
				  </div>
			</div>
		  </div>


		</div>   
		  <script>
			var element = document.body;
			var a = localStorage.getItem('isDarkMode');
			var switchContainer = document.querySelector(".switch-container");
			var moonIcon = document.getElementById("moonIcon");
			var sunIcon = document.getElementById("sunIcon");
			var switchCircle = document.querySelector(".switch-circle");
			var back = '';
			var text = '';
			if(a=='true'){window.back = "#2d2d2d";window.text = "#ffffff"; }else{window.back = "#fff"; window.text = "#545454";}  
				if (a==="true"){
					element.dataset.bsTheme = "dark"
					document.getElementById("2").checked = true;
					switchContainer.style.backgroundColor = "#ccc"; // Fondo gris (luna)
					switchCircle.style.transform = "translate(2px, -50%)"; // Mover el círculo a la izquierda
					switchCircle.style.backgroundColor = "#000"; // Mover el círculo a la izquierda
					moonIcon.style.opacity = "1"; // Mostrar luna
					sunIcon.style.opacity = "0"; // Ocultar sol
					document.getElementById('head_login').style.backgroundColor= '#791500';
					document.getElementById("backgroundall").style.backgroundColor= '#404040';
					document.getElementById("backgroundall").style.color= '#FFFFFF';
					document.getElementById("cardbodys").style.backgroundColor= '';
            		document.getElementById("cardbodys").style.color= '#FFFFFF';

				}else{
					element.dataset.bsTheme = "light";
					switchContainer.style.backgroundColor = "#505050"; // Cambiar el fondo a amarillo (sol)
					switchCircle.style.transform = "translate(20px, -50%)"; // Mover el círculo a la derecha
					switchCircle.style.backgroundColor = "#fff"; // Mover el círculo a la izquierda
					moonIcon.style.opacity = "0"; // Ocultar luna
					sunIcon.style.opacity = "1"; // Mostrar sol
					document.getElementById('head_login').style.backgroundColor = '#791500';
					document.getElementById("backgroundall").style.backgroundColor = '#c19284';
					document.getElementById("backgroundall").style.color= '#000000';
					document.getElementById("cardbodys").style.backgroundColor = '#8a8a8a';
            		document.getElementById("cardbodys").style.color= '#000000';
				}
			</script>
		<script>
			function myFunction() {
				var element = document.body;
				var darkcheck = document.getElementById("2");
				var switchContainer = document.querySelector(".switch-container");
				var moonIcon = document.getElementById("moonIcon");
				var sunIcon = document.getElementById("sunIcon");
				var switchCircle = document.querySelector(".switch-circle");
				if (darkcheck.checked){
					element.dataset.bsTheme = "dark"
					localStorage.setItem('isDarkMode', true);
					switchContainer.style.backgroundColor = "#ccc"; // Fondo gris (luna)
					switchCircle.style.transform = "translate(2px, -50%)"; // Mover el círculo a la izquierda
					switchCircle.style.backgroundColor = "#000"; // Mover el círculo a la izquierda
					moonIcon.style.opacity = "1"; // Mostrar luna
					sunIcon.style.opacity = "0"; // Ocultar sol
					document.getElementById('head_login').style.backgroundColor= '#791500';
					document.getElementById("backgroundall").style.backgroundColor= '#404040';
					document.getElementById("backgroundall").style.color= '#FFFFFF';
					document.getElementById("cardbodys").style.backgroundColor= '';
            		document.getElementById("cardbodys").style.color= '#FFFFFF';
					back = "#2d2d2d"; text = "#ffffff";
				}
				else{
					element.dataset.bsTheme = "light"
					localStorage.setItem('isDarkMode', false);
					switchContainer.style.backgroundColor = "#505050"; // Cambiar el fondo a amarillo (sol)
					switchCircle.style.transform = "translate(20px, -50%)"; // Mover el círculo a la derecha
					switchCircle.style.backgroundColor = "#fff"; // Mover el círculo a la izquierda
					moonIcon.style.opacity = "0"; // Ocultar luna
					sunIcon.style.opacity = "1"; // Mostrar sol
					document.getElementById('head_login').style.backgroundColor = '#791500';
					document.getElementById("backgroundall").style.backgroundColor = '#c19284';
					document.getElementById("backgroundall").style.color= '#000000';
					document.getElementById("cardbodys").style.backgroundColor = '#8a8a8a';
            		document.getElementById("cardbodys").style.color= '#000000';
					back = "#fff"; text = "#545454";
				}
			}
			</script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
			{% if r2 %}
            <script>
                Swal.fire({
                'title':'Error',
                'text':"{{r2}}",
				toast: true,
				background: back,
                color: text,
                'icon':'error'
            })</script>
            {% endif %}
            
            
            {% if r %}
            <script>
                Swal.fire({
                position: 'top',
                icon: 'success',
                title: '{{r}}',
				position: 'top',
                showConfirmButton: false,
				toast: true,
				background: back,
                color: text,
                timer: 3000
            })</script>
            {% endif %}

		</div>		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	</body>
</html>

